<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Michaeliba</title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <br/><br/>
        <a th:href="@{/crear-usuario}">Crear usuarios</a>
        <br/><br/>
        <a th:href="@{/}">Inicio</a>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.user}"></td>
                    <td th:text="${usuario.password}"></td>
                    <td><a th:href="@{/editar/} + ${usuario.id_users}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(id_users=${usuario.id_users})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
