<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Michaeliba</title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <h1>Crear Usuario</h1>
        <form th:action="@{/guardar}" method="post" th:object="${usuario}">
            <input type="hidden" name="id_usuario" th:field="*{id_users}"/>
            <br/><br/>
            <label for="user">Usuario: </label>
            <input type="text" name="user" th:field="*{user}"/>
            <br/><br/>
            <label for="password">Contraseña: </label>
            <input type="text" name="password" th:field="*{password}"/>
            <br/><br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <br/>
        <a th:href="@{/administrar-usuarios}">Regresar</a>
    </body>
</html>
