<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Michaeliba</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div>
            <table>
                <tr>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                </tr>
                <tr th:each="usuario : ${users}">
                    <td th:text="${usuario.user}"></td>
                    <td th:text="${usuario.password}"></td>
                </tr>
            </table>
        </div>
        <a th:href="@{/crear-usuario}">Crear usuario</a>
    </body>
</html>
