<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Michaeliba</title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <h1>Crear Usuario</h1>
        <form th:action="@{/guardar}" method="post" th:object="${usuario}">
            <br/>
            <label for="user">Usuario: </label>
            <input type="text" name="user" th:field="*{user}"/>
            <br/>
            <label for="password">Contraseña: </label>
            <input type="password" name="password" th:field="*{password}"/>
        </form>
        <a th:href="@{/}">Regresar</a>
    </body>
</html>
