<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1>Panel Administrativo</h1>
        </header>
        
        <footer th:fragment="footer">
            <div>
                <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Cerrar Sesi&oacute;n</a>
                </form>
            </div>
        </footer>
    </body>
</html>
